<h2 class="content-block">Notas</h2>
<dx-data-grid
  id="grid"
  [dataSource]="notaSource"
  (onInitNewRow)="setModeCreate(true)"
  (onSaved)="setModeCreate(false)"
  (onEditCanceled)="setModeCreate(false)"
  (onRowInserted)="insertDataNota($event)"
  (onRowUpdated)="updateDataNota($event)"
  (onRowRemoved)="deleteDataNota($event)"
  (onEditingStart)="editingProcess($event)">
  <dxo-scrolling mode="virtual"></dxo-scrolling>

  <dxo-editing
    mode="popup"
    [allowAdding]="true"
    [allowDeleting]="true"
    [allowUpdating]="true">

    <div *ngIf="createModeForm == true">
      <dxo-popup
        title="Criar Nota"
        [showTitle]="true"
        [width]="700"
        [height]="350">
      </dxo-popup>
    </div>
    <div *ngIf="createModeForm == false">
      <dxo-popup
        title="Informações da Nota"
        [showTitle]="true"
        [width]="800"
        [height]="550">
      </dxo-popup>
    </div>

    <dxo-form [colCount]="2">
      <dxi-item dataField="numeroNota"></dxi-item>
      <dxi-item dataField="dataCompra"></dxi-item>
      <dxi-item dataField="cliente"></dxi-item>
      <dxi-item dataField="totalNota" ></dxi-item>
      <dxi-item dataField="itens" [colSpan]="2"></dxi-item>
    </dxo-form>
  </dxo-editing>

  <dxi-column dataField="id" caption="ID"></dxi-column>
  <dxi-column dataField="numeroNota" caption="Numero Nota"></dxi-column>
  <dxi-column dataField="dataCompra" caption="Data Compra" dataType="date"></dxi-column>
  <dxi-column dataField="cliente" caption="Cliente" editCellTemplate="clientesSelectBox" [customizeText]="showNameUser"></dxi-column>
  <dxi-column dataField="itens" caption="Itens" [visible]="false" editCellTemplate="itensCellTemplate"></dxi-column>
  <dxi-column dataField="totalNota" caption="Total Nota" [allowEditing]="false"></dxi-column>

  <div *dxTemplate="let cliente of 'clientesSelectBox'">
    <dx-select-box
    [items]="clientesSource"
    displayExpr="nome"
    [value]="selectClientDefaultName"
    (onValueChanged)="nameChangeClient($event)"
    ></dx-select-box>
  </div>

  <div *dxTemplate="let data of 'itensCellTemplate'">
    <ng-container *ngIf="data.value && data.value.length >= 0; else noDataTemplate">
      <dx-data-grid
      [dataSource]="data.value || []"
      (onRowUpdated)="updateDataItens($event)"
      (onRowInserted)="insertDataItens($event)"
      (onRowRemoved)="deleteDataItens($event)"
      (onEditingStart)="editingProduct($event)">
        <dxo-editing
          mode="row"
          [allowAdding]="true"
          [allowDeleting]="true"
          [allowUpdating]="true">
        </dxo-editing>

        <dxi-column dataField="nota" caption="Numero da Nota"></dxi-column>
        <dxi-column dataField="itensSequenciais" caption="Itens da Nota"></dxi-column>
        <dxi-column dataField="produto" caption="Produto" editCellTemplate="selectBoxProdutos" [customizeText]="showNameProduct"></dxi-column>
        <dxi-column dataField="quantProdutos" caption="Quantidade"></dxi-column>
        <dxi-column dataField="valorTotal" caption="Total" [allowEditing]="false"></dxi-column>

        <div *dxTemplate="let product of 'selectBoxProdutos'">
          <dx-select-box
            [items]="produtoSource"
            displayExpr="descricao"
            [value]="selectProdutoDefaultName"
            (onValueChanged)="nameProductChanged($event)">
          </dx-select-box>
        </div>
      </dx-data-grid>
    </ng-container>
    <ng-template #noDataTemplate>
      <dx-toast [visible]="true" type="info" [displayTime]="5000" [hideOnOutsideClick]="true" message="Por favor, crie a nota primeiro antes de adicionar os itens."></dx-toast>
    </ng-template>
  </div>
</dx-data-grid>
