<h2 class="content-block">Clientes</h2>
<dx-data-grid
  id="grid"
  [dataSource]="clienteSource"
  [repaintChangesOnly]="true"
  [showBorders]="true">
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowAdding]="true"
      [allowDeleting]="true">

      <dxo-popup
        title="Cliente"
        [showTitle]="true"
        [width]="700"
        [height]="350">
      </dxo-popup>

  </dxo-editing>
  <dxi-column dataField="id" caption="ID" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="nome" caption="Nome"></dxi-column>
  <dxi-column dataField="codigo" caption="Codigo Cliente"></dxi-column>
</dx-data-grid>
